.new-tweet.modal.fade
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4.modal-title Compose new Tweet
      .modal-body
        form(method='post', action='/tweets', enctype="multipart/form-data")
          textarea(type='text', name='body', placeholder='Enter your tweet here', maxlength='1000')
          input(type='file' name="img")
          button.btn.new-tweet__button(type='submit') Tweet
